body{
font-family:Arial;
margin:28px;
}

menu{
margin-bottom:4px;
}

menu ul{
margin:0px;
padding:0px;
}

menu li{
display:inline;
list-style:none;
margin-right:4px;
}

menu a{
display:inline-block;
width:32px;
height:32px;
background-color:#DDD;
color:#000;
font-size:24px;
text-decoration:none;
text-align:center;
vertical-align:middle;
line-height:30px;
}

div.textarea{
cursor:text;
background-color:#EEE;
border:1px solid #DDD;
width:560px;
height:400px;
padding:12px;
font-family:Times;
}
